@charset "UTF-8";
.navbar {
    background-color: #224B1D;
    overflow: hidden;
}

.navbar ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.navbar li {
    float: right;
    padding: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #F7FFF6;
    text-decoration: none;

}